.hero {
  &__inner {
    padding: 0 30px;
    display: grid;
    align-items: center;
    height: 100vh;

    width: 80%;
    margin: auto;
  }
  h1 {
    width: 70%;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 100%;
  }
  h2 {
    margin: 20px 0;
    font-size: 50px;
    color: red;
  }
  p {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
  }

  button {
    display: block;
    padding: 20px 50px;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
      transition: 100ms ease-out;
    }
  }
}

@media screen and (max-width: 1138px) {
  .hero {
    &__inner {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 40px;
      }
      button {
        width: 300px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 738px) {
  .hero {
    &__inner {
      padding: 50px 0;
      h1 {
        font-size: 45px;
      }
      h2 {
        font-style: 30px;
      }
      p {
        font-size: 22px;
      }

      button {
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 538px) {
  .hero {
    &__inner {
      padding: 50px 0;
      h1 {
        font-size: 40px;
      }
      h2 {
        font-style: 30px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
