.delivery {
  margin: 60px 0;
  h2 {
    font-size: 35px;
    margin: 10px 0 20px;
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &-item {
    width: 100%;
    padding: 10px;
    &-image {
      background-image: url("https://spa-efferens.ru/upload/media/%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0.PNG");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-info {
      padding: 20px 30px;
      background-color: #000;

      color: white;

      p {
        font-size: 16px;
      }
    }

    &-price {
      background-color: #262626;
      max-width: 400px;
      padding: 5px 10px;
      border-radius: 30px;
      font-weight: 600;
      p {
        display: flex;
        gap: 40px;
        margin: 10px;
        font-size: 17px;

        span {
          display: flex;
          gap: 10px;
        }

        .red {
          color: #fba18d;
        }

        .yellow {
          color: #f1f5b8;
        }

        .blue {
          color: #c8deb6;
        }
      }
    }
  }

  .delivery-itemTest {
    position: relative;

    h2 {
      font-size: 30px;
    }
    p {
      width: 80%;
      font-size: 16px;
    }

    img {
      width: 80%;
      margin: auto;
    }

    button {
      position: absolute;
      bottom: 80px;
      left: 20px;
      background-color: #000;
      padding: 15px 40px;
      font-size: 20px;
      color: white;
      border-radius: 20px;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: red;
      }
    }
  }

  .dostavka {
    display: grid;
    grid-template-rows: 1.4fr 1fr;
  }
}

@media screen and (max-width: 1100px) {
  .delivery {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}
