.forWhom {
  h2 {
    font-size: 40px;
    margin: 0;
  }
  &__panels {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    gap: 25px;

    &-item {
      margin: 20px 0;
      min-width: 270px;
      vertical-align: start;
      padding: 30px 20px;
      background: linear-gradient(
        180deg,
        rgba(255, 247, 5, 1) 11%,
        rgba(255, 255, 255, 1) 88%
      );
      border-radius: 20px;

      img {
      }
    }
  }
}
