.header {
  background-color: black;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100000;
  }
}
.logo img {
  width: 100px;
}

.active {
  color: red !important;
}

.menu {
  display: flex;
  gap: 40px;
  padding: 0;

  &-item {
    list-style: none;
  }

  &-item-link {
    text-decoration: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

.close,
.menu-container img,
.menu-info {
  display: none;
}

.bars {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (max-width: 1128px) {
  .close,
  .menu-container img,
  .menu-info {
    display: block;
  }
  .menu-container {
    position: fixed;
    display: grid;
    height: 100vh;
    top: 0;
    background-color: black;
    right: 0;
    padding: 0 80px 0;
    align-items: center;
    right: -100%;
    transition: 500ms ease-in;
    img {
      width: 180px;
    }
  }
  .header {
    .logo img {
      width: 80px;
    }

    .bars {
      display: block;
    }
  }
  .menu {
    flex-direction: column;
    gap: 0;
    padding: 20px 0;
    line-height: 50px;
    &-item {
      list-style: none;

      &-link {
        text-decoration: none;
        color: white;
        font-size: 16px;

        &:hover {
          color: red;
        }
      }
    }
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
  }

  .activeNav {
    right: 0;
    transition: 400ms;
  }
}
