.devices {
  padding: 70px;

  &__inner {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    font-size: 30px;
    opacity: 0.5;
    margin: 0;
  }

  h3 {
    margin: 0;
    margin-bottom: 70px;
    font-size: 35px;
  }

  &-item {
    padding: 15px;
    border-radius: 25px;
    background-color: #f8f8f8;
    max-width: 300px;

    h4 {
      font-size: 20px;
      margin: 10px;
    }
    img {
      width: 90%;
      margin: auto;
    }

    .price {
      font-size: 14px;
      color: grey;
      font-family: "Montserrat", Arial, sans-serif;
      position: relative;
    }

    &-prices {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 10px;
    }

    &-price {
      display: flex;
      flex-direction: column;
      background-color: #eeeeee;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      font-size: 15px;
    }

    &-order {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 10px;
      width: 100%;
      margin: 20px 0;

      button {
        display: block;
        padding: 5px 20px;
        border-radius: 15px;
        border: none;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: black;
          color: white;
        }
      }

      .order {
        background-color: #ff0000;
        color: white;
      }

      .more-details {
        background-color: #fff;
        font-size: 25px;
      }
    }
  }
}
